
application/config/config.php

application/config/config.php

system/core/Common.php

application/views/layouts/default.php

application/modules/inicio/controllers/inicio.php

application/libraries/My_form_validation.php

application/config/routes.php

application/config/database.php

*.php
