/* Marcacion azul=========== */
.bckMark{background-color:#069; color:#fff;}

.bigTit{font-family: 'Raleway', sans-serif; color:#fff; font-size:2.8em; font-weight:700;}
.medTit{font-size:1.4em; font-weight:200;}
.smallTit{font-size:1.2em; font-weight:200;}
.typeOne{font-family: 'Montserrat', sans-serif; color:#6B6B6B; }
.handScript{font-family: 'Tangerine', cursive;}
.lfont{font-family: 'Open Sans', sans-serif;}

.fthin{font-family: 'Raleway', sans-serif; font-weight:200;}

.fmed{font-size:1.6em;}

/*========Colores de Fuentes ============*/
.ora{color:#E15F00;}